@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@import 'normalize';
@import 'mixins';

* {
	box-sizing: border-box;
}

html {
	font: 10px/1.6 'Lato', sans-serif;
	height: 100%;
}

body {
	font-size: 1.6rem;
	color: #333;
	min-height: 100%;
}

.container {
	max-width: 1600px;
	width: 96%;
	padding: 0 15px;
	margin: 0 auto;
	&--big {
		width: 100%;
	}
	&--footer {
		padding: 0;
		width: 100%;
	}
	&--gets {
		display: flex;
		text-align: center;
		background-color: #fff;
		margin: 100px 50px;
	}
}

header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

nav {
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	@include hover {
		transform: scale(1.4);
	}
}

.menu {
	margin: 0;
	padding: 0;
	&__item {
		display: inline-block;
		margin: 0 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		color: #fff;
		border-bottom: 1px solid transparent;
		font-size: 1.6rem;
		font-weight: 500;
		text-transform: uppercase;
		@include tdn();
		@include hover {
			border-color: #fff;
		}
	}
}

.cover {
	height: 100vh;
	@include bgcover;
	background-color: #000;
	color: #fff;
	&__title {
		margin: 0 auto 20px;
		line-height: 1;
		font-size: 10rem;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__subtitle {
		font-style: italic;
		font-weight: 700;
		font-size: 3.6rem;
		color: #e9dbda;
		margin-bottom: 0px;
	}
	&__text {
		font-size: 1.4rem;
		margin: 20px;
		&--link {
			@include tdn();
			color: #fff;
			border-bottom: 1px solid #fff;
			@include hover {
			border-color: transparent;
			opacity: .8;
			}
		}
	}
}

.flex {
	display: flex;
	&--column {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cover & {
		height: 100%;
	}
}


.btn {
	width: 20%;
	border-radius: 2px;
	border: 2px solid #fff;
	font-size: 1.8rem;
	padding: 15px 20px;
	margin: 10px;
	color: #fff;
	background: transparent;
	text-align: center;
	@include tdn();
	@include hover {
		background: #fff;
		color: #000;
	}
}

.get {
	margin: 0 25px;
	&__title {
		text-transform: uppercase;
		position: relative;
		@include ba {
			content:'';
			position: absolute;
		}
		&::after {
			border-bottom: 1px solid #f57365;
			width: 30%;
			top: 100%;
			left: 50%;
			transform: translate(-50%);
		}
	}
}

.app {
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__phone {
		padding-top: 100px;
		margin: 0 auto;
	}
	&__info {
		margin-left: 120px; 
	}
	&__title {
		font-size: 1.8rem;
		text-transform: uppercase;
	}
	&__article {
		font-size: 1.6rem;
	}
	&__img {
		min-width: 550px;
		min-height: 700px;
	}
	&__link {
	}
	&__btn {
		margin: 0 5px;
		@include hover {
			transform: scale(.9);
			}
	}
}

.reviews {
	@include bgcover;
	background-color: #4a3949;
}

.rev {
	text-align: center;
	color: #fff;
	padding: 75px 50px;
	&__quote {
		font-size: 3rem;
	}
	&__author {
		font-size: 1.8rem;
		font-style: italic;
		@include ba {
			content: '-';
		}
	}
	&__items {
		list-style-type: none;

	}
	&__item {
		display: inline-block;
	}
	&__btn {
		outline: none;
		border: 1px solid #7a6e79;
		background-color:: #7a6e79;
		margin: 5px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		&--active {
			border: 1px solid #fff;
			background-color:: #fff;
		}
		@include hover {
			border: 1px solid #fff;
			background-color: #fff;
		}
	}
}

.section {
	background-color: #fff;
	padding: 100px 0;
	margin: 0;
	&__title {
		font-size: 1.8rem;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		@include ba {
			content:'';
			position: absolute;
		}
		&::after {
			border-bottom: 1px solid #f57365;
			width: 5%;
			top: 100%;
			left: 50%;
			transform: translate(-50%);
		}
	}
}

.grid-container {
	max-width: 1600px;
	width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
}

.col {
	height: 220px;
	flex-basis: 19%;
	margin: 0;
	flex-grow: 1;
}

.recipes {
	height: 100%;
	overflow: hidden;
	position: relative;
	@include hover {
		opacity: .8;
		transform: scale(.9);
	}
	&__link {
		display: block;
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	&__title {
		display: inline-block;
		position: relative;
		z-index: 3;
		font-size: 3.6rem;
		margin: 0;
		padding: 0 auto;
		line-height: 1;
	}
	&__count {
		display: inline-block;
		position: relative;
		z-index: 3;
		font-size: 1.5rem;
		font-style: italic;
	}
	&__img {
		min-width: 100%;
		min-height: 100%;
		position:absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
}

.stats {
	padding-top: 60px;
	display: flex;
	justify-content: space-around;
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__number {
		font-size: 3.6rem;
		font-weight: 700;
	}
	&__name {
		font-size: 1.6rem;
		font-weight: 300;
	}
}

.copy {
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-around;
	margin: 40px auto;
	padding-top: 40px;
	border-top: 1px solid #c1c1c1;
	&__rights,
	&__design {
		color: #c1c1c1;
		font-size: 1.4rem;
	}
	 
	&__link {
		color: #000;
		border-bottom: 1px solid transparent;
		text-decoration: none;
		@include hover {
			border-color: #000;
			}
	}
}